{% extends "base.html" %}

{% block title %}Meeting: {{meeting.title}} {% endblock %}

{% block content %}
    <h1>{{meeting.title}}</h1>
    <p>
        This meeting has been scheduled on {{meeting.date}},
        at {{meeting.start_time}} in <strong>{{meeting.room}}</strong>
    </p>

    Go back <a href= "{% url 'welcome' %}"> Home</a>

{% endblock %}