{% extends "base.html" %}

{% block title %}New Meeting{% endblock %}

{% block content %}
<h1>Plan a new meeting</h1>
<form method="POST">
    <table>
        {{ form }}
    </table>
    {% csrf_token %}
    <button type="submit">Create</button>
</form>

{% endblock %}



