{% extends "base.html" %}

{% block title %}Room List{% endblock %}

{% block content %}

    <h1>List of all Rooms</h1>
    <ul>
        {%for rooms in room%}
        <li>
            {{rooms}}
        </li>
        {%endfor%}
    </ul>

    Go back <a href= "{% url 'welcome' %}"> Home</a>

{% endblock %}