{% extends "base.html" %}

{% block title %}Alphabet checker{% endblock %}




{% block content %}
<h1>
    Alphabet Checker
</h1>
<p>
    Input any word and the site will send the letters of the alphabet not in the word<br>
    (ex. "word", abcefghijklmnpqstuvxyz)<br>
    <form action="" method="post">
        <input type="text" name="word">
        <input type="submit" />
        {% csrf_token %}
    </form>
    {{ word }}<br>
    <br>
    Alphabet letters left ({{number}}):<br>
    {{alphabet}}<br>
    <br>
    Number of alphabet letters used: {{used}}<br>
    <br>
    <a href="{% url 'welcome'%}">Home</a>

</p>
{% endblock %}
