{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1> Welcome to the Meeting Planner!</h1>
    <p>
        This is just a sample. Testing testing.
        <em>Haro!</em>
        <a href="https://www.facebook.com/apnfox">My Profile</a>
        
    </p>
    {% load static %}
    <img src = "{% static 'website/Nelle_and _I.jpg' %}" width = "200px">


    <h2>Meetings</h2>
    <ul>
        {%for meeting in meetings%}
            <li>
                <a href="{% url 'detail' meeting.id %}">
                    {{meeting.title}}
                </a>
            </li>
        {%endfor%}
    </ul>
    <p>
        Add a new meeting: <a href="{% url 'new' %}">
            Link
        </a>
    </p>
    
    <a href = "{% url 'room'%}">Room list</a>
{% endblock %}