{% load static %}
<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset = "UTf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel = "stylesheet"
              href = "{% static 'website/style.css' %}">
        
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>