{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block style %} 

<style>
    h1 {text-align: center;}
    p  {text-align: center;}
</style>

{% endblock %}
{% block content %}
<h1 style ="font-size:40px">
    Welcome!
</h1>
<p>
    {% load static %}
    <img src="{% static 'welcome/Happy_dog_hotdog_.gif' %}"><br>
    Hatdog is happy to see you!<br>
    
</p>
<h1>
    <a href="/alphabet_checker">Alphabet checker</a>
</h1>
<p>
    
</p>
{% endblock %}




